<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.royglobal.gameplatform.domain.member.repository.MemberMapper">
    <select id="getList" parameterType="Member" resultType="Member">
        SELECT
            T1.MBR_NO,
            T1.GRP_NO,
            T1.MBR_ID,
            T1.MBR_NM,
            T1.MBR_NKNM,
            T1.MBR_PSWD,
            T1.MBR_SOGM,
            T1.MBR_TYPE_CD,
            T1.MBR_LVL,
            T1.MBR_CLR_CD,
            T1.UP_MBR_NO,
            T1.SIGNUP_CD,
            T1.CUR_CD,
            T1.EXCN_BANK_NM,
            T1.EXCN_ACT_NO,
            T1.EXCN_DPSTR_NM,
            T1.EXCN_PSWD,
            T1.PHONE_NO,
            T1.SIGNUP_DOMAIN,
            T1.CRT_DT,
            T1.MDF_DT,
            T1.DEL_DT,
            T1.PSN_MONY,
            T1.PSN_POINT,
            T1.UNRGST_YN,
            T1.DEL_YN,
            T1.LAST_LGIN_DT,
            T1.LAST_BETG_DT,
            T1.LAST_CNTN_IP,
            T1.LAST_CNTN_DOMAIN,
            T1.LAST_GAME_NO,
        FROM MBR_MST T1
        ORDER BY T1.CRT_DT DESC
    </select>

    <select id="findById" parameterType="int" resultType="Member">
        SELECT T1.MBR_NO
        FROM MBR_MST T1
        WHERE T1.MBR_NO = #{mbrNo}
    </select>

    <delete id="delete" parameterType="int">
        DELETE MBR_MST
        WHERE MBR_NO = #{mbrNo}
    </delete>

</mapper>